### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

In [19]:
#List
list_1=[34,54,67,89,11,43,94]
print(list_1)
#Removing the element at index 4
temp=list_1[4]
print(temp)
list_1.pop(4)
print('list_1 after removing element at index 4 : ',list_1)

#adding the element at index 2
list_1.insert(2,temp)
print('list_1 after after adding the element at index 2 : ',list_1)

#adding  the element at end
list_1.append(temp)
print('list_1 after adding the element at the end : ',list_1)

[34, 54, 67, 89, 11, 43, 94]
11
list_1 after removing element at index 4 :  [34, 54, 67, 89, 43, 94]
list_1 after after adding the element at index 2 :  [34, 54, 11, 67, 89, 43, 94]
list_1 after adding the element at the end :  [34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a Python list you should be able to display Python list in the following order

The Original List is: [100, 200, 300, 400, 500]
The Expected result is:  [500, 400, 300, 200, 100]

In [16]:
#list
list_2=[100,200,300,400,500]
print('list_2 before revering : ',list_2)
#list after reversing using [::-1]
list_2=list_2[::-1]
print('list_2 after reversing using [::-1]: ',list_2)
#list after reversing using .reverse
list_2.reverse()
list_2.reverse()
print('list_2 after reversing using .reverse() : ', list_2)

list_2 before revering :  [100, 200, 300, 400, 500]
list_2 after reversing using [::-1]:  [500, 400, 300, 200, 100]
list_2 after reversing using .reverse() :  [500, 400, 300, 200, 100]

## Exercise Question 3: Concatenate (join) two lists in the following order

The original list1: ['Hello ', 'take ']
The original list2: ['Dear', 'Sir']
The Expected result is: ['Hello ', 'take ', 'Dear', 'Sir']

In [21]:
#list 1
list_3=['Hello','take']
print('list1 : ',list_3)
#list 2
list_4=['Dear','Sir']
print('list2 : ',list_4)

#list after concatenate
list_3.extend(list_4)
print('list after Concatenate : ',list_3)

list1 :  ['Hello', 'take']
list2 :  ['Dear', 'Sir']
list after Concatenate :  ['Hello', 'take', 'Dear', 'Sir']

## Exercise Question 4: Add item 7000 after 6000 in the following Python List

The original list is: [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
The expected list is: [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [24]:
#list 1
list_5=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
print('list_5 before adding 7000 : ',list_5)

#list at index 2
print('list at index 2 :',list_5[2])

#list at index 2[2]
print('list at index 2[2] :',list_5[2][2])

list_5[2][2].append(7000)

print('list_5 after adding 7000: ',list_5)

list_5 before adding 7000 :  [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
list at index 2 : [300, 400, [5000, 6000], 500]
list at index 2[2] : [5000, 6000]
list_5 after adding 7000:  [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

## Exercise Question 5: Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look like the

The original List is: ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
The expected result is: ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [44]:
#list
list_6=['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
print('list_6 before extending ["h", "i", "j"] : ',list_6)

#sub list
list_7= ["h", "i", "j"]
print('sub list :',list_7)

#extend list
list_6[2][1][2].extend(list_7)
print('extended list :',list_6)

list_6 before extending ["h", "i", "j"] :  ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
sub list : ['h', 'i', 'j']
extended list : ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

## Exercise Question 6: Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value

The original list is: [5, 10, 15, 20, 25, 50, 20]
The expected output is: [5, 10, 15, 200, 25, 50, 20]

In [53]:
#list
list_8=[5, 10, 15, 20, 25, 50, 20]
print('list before adding 200 :',list_8)
val_1=20
val_2=200
#check first occurance
print('length of list:',len(list_8))
for i in range(len(list_8)):
    #print(i)
    if list_8[i]==val_1:
        list_8[i]=val_2
        break
print('list after adding 200 :',list_8)

list before adding 200 : [5, 10, 15, 20, 25, 50, 20]
length of list: 7
list after adding 200 : [5, 10, 15, 200, 25, 50, 20]

In [54]:
#list
list_8=[5, 10, 15, 20, 25, 50, 20]
print('list before adding 200 :',list_8)
val_1=20
val_2=200
for i in list_8:
    #print(i)
    if i==val_1:
        list_8[list_8.index(i)]=val_2
        break
        
print('list after adding 200 :',list_8)

list before adding 200 : [5, 10, 15, 20, 25, 50, 20]
list after adding 200 : [5, 10, 15, 200, 25, 50, 20]